<aside class="column is-3">
    <div class="box" style="box-shadow: 0 0 10px rgba(200, 38, 211, 0.2);">
        <h3 class="title has-text-centered"
             style="color: #C026D3">
                Activity
        </h3>

        <div id="activity-sidebar">
            <!--Content-->
        </div>

    <!--
        <article class="message is-small">
            <div class="message-body">
                <time class="is-size-7" style="color: #6b7280;">30/08/2025 - 14:30</time>
                <p>System13 claimed by user1</p>
                <p class="is-size-7 has-text-grey">Claimed until 02/09/2025</p>
            </div>
        </article>

        <article class="message is-small">
            <div class="message-body">
                <time class="is-size-7" style="color: #6b7280;">30/08/2025 - 12:15</time>
                <p>System7 released by user3</p>
            </div>
        </article>
    -->
    </div>
</aside>