<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Management</title>
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ static('css/styles.css') }}">
</head>
<body>
    
    {% if is_authenticated %}
    <!-- Navbar -->
    {% include "navbar.html" %}
    <!-- Main layout -->
    <div class="columns" style="margin-top: 20px;">
        
        <!-- Activity feed -->
        {% include "activity.html" %}

        <!-- Main content area -->
        <div class="column is-9">
            <div id="main-content"
                hx-get="/api/systems"
                hx-trigger="load"
            >

        </div>
    </div>
</div>
    {% else %}
        <!-- Show welcome content for unauthenticated users -->
        {% include "login.html" %}
    {% endif %}
</body>
</html>