<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Management - Login</title>
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script> 
    <!-- Custom Styles -->
     <link rel="stylesheet" href="/static/css/styles.css">
</head>

<!-- Login -->
<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4">
                    <h3 class="title has-text-centered" style="color: #C026D3">Login</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-warning">Beware, there is no turning back after this point!</p>
                    <form action="/api/login" method="POST">
                        <!-- Email -->
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left">
                                <input class="input" type="email" placeholder="Email" name="username">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left">
                                <input class="input" type="password" placeholder="Password" name="password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <label class="checkbox is-left">
                                <input type="checkbox">
                                Remember me
                            </label>
                        </div>
                        <button class="button button-magenda is-centered"
                                type="submit"
                        >
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>